
 ## MySQL Operations

In this section, we will demonstrate how to connect to MySQL Relational Database and perform basic CRUD operations. We will use the `mysql.connector` library.

Import Required Libraries and Connect to MySQL

In [47]:
import mysql.connector
from mysql.connector import Error

# Establish connection to MySQL server
try:
    conn = mysql.connector.connect(
        host='localhost',
        user='root',               # Replace with your MySQL username
        password='daanvi19',  # Replace with your MySQL password
        database='UserManagement'  # Database you created
    )
    
    if conn.is_connected():
        print("Connected to MySQL database")

    cursor = conn.cursor()

    # Create a new user
    def create_user(name, email):
        try:
            cursor.execute('''
                INSERT INTO Users (Name, Email)
                VALUES (%s, %s)
            ''', (name, email))
            conn.commit()
            print(f"User '{name}' created successfully.")
        except Error as e:
            print(f"Error: {e}")

    # Read user details by ID
    def read_user(user_id):
        try:
            cursor.execute('''
                SELECT * FROM Users WHERE Id = %s
            ''', (user_id,))
            user = cursor.fetchone()
            if user:
                print(f"User Details: ID={user[0]}, Name={user[1]}, Email={user[2]}, Created At={user[3]}")
            else:
                print("User not found.")
        except Error as e:
            print(f"Error: {e}")

    # Update a user's email
    def update_user_email(user_id, new_email):
        try:
            cursor.execute('''
                UPDATE Users
                SET Email = %s
                WHERE Id = %s
            ''', (new_email, user_id))
            conn.commit()
            print(f"User ID={user_id} email updated to '{new_email}'.")
        except Error as e:
            print(f"Error: {e}")

    # Delete a user by ID
    def delete_user(user_id):
        try:
            cursor.execute('''
                DELETE FROM Users WHERE Id = %s
            ''', (user_id,))
            conn.commit()
            print(f"User ID={user_id} deleted successfully.")
        except Error as e:
            print(f"Error: {e}")

    # Example operations
    create_user('Alice', 'alice@example.com')
    create_user('Bob', 'bob@example.com')

    read_user(1)

    update_user_email(1, 'alice_new@example.com')

    delete_user(2)

except Error as e:
    print(f"Error: {e}")

finally:
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("Connection closed.")

Connected to MySQL database
User 'Alice' created successfully.
User 'Bob' created successfully.
User Details: ID=1, Name=Alice, Email=alice_new@example.com, Created At=2024-08-08 17:23:26
User ID=1 email updated to 'alice_new@example.com'.
User ID=2 deleted successfully.
Connection closed.

In [3]:
import mysql.connector
from mysql.connector import Error

# Connect to MySQL
try:
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='daanvi19'
    )
    if connection.is_connected():
        print("Successfully connected to MySQL")
except Error as e:
    print(f"Error: {e}")

Successfully connected to MySQL

Create a Database and Table

In [5]:
try:
    # Create a new database and table
    cursor = connection.cursor()
    
    # Create database
    cursor.execute("CREATE DATABASE IF NOT EXISTS user_management")
    
    # Use the new database
    cursor.execute("USE user_management")
    
    # Create table
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS users (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        email VARCHAR(255) NOT NULL UNIQUE,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
    """)
    
    print("Database and table created successfully")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()

Database and table created successfully

Insert Data into the Table

In [7]:
try:
    cursor = connection.cursor()
    
    # Insert data
    cursor.execute("INSERT INTO users (name, email) VALUES ('Alice Smith', 'alice@example.com')")
    cursor.execute("INSERT INTO users (name, email) VALUES ('Bob Johnson', 'bob@example.com')")
    
    # Commit the changes
    connection.commit()
    
    print("Data inserted successfully")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()

Data inserted successfully

Read Data from the Table

In [9]:
try:
    cursor = connection.cursor(dictionary=True)
    
    # Retrieve all users
    cursor.execute("SELECT * FROM users")
    all_users = cursor.fetchall()
    
    print("All users:", all_users)
    
    # Retrieve a specific user
    cursor.execute("SELECT * FROM users WHERE name = 'Alice Smith'")
    specific_user = cursor.fetchone()
    
    print("Specific user:", specific_user)
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()

All users: [{'id': 2, 'name': 'Jane Doe', 'email': 'jane.doe@example.com', 'created_at': datetime.datetime(2024, 8, 8, 17, 0, 57)}, {'id': 15, 'name': 'Alice Smith', 'email': 'alice@example.com', 'created_at': datetime.datetime(2024, 8, 9, 17, 2, 39)}, {'id': 16, 'name': 'Bob Johnson', 'email': 'bob@example.com', 'created_at': datetime.datetime(2024, 8, 9, 17, 2, 39)}]
Specific user: {'id': 15, 'name': 'Alice Smith', 'email': 'alice@example.com', 'created_at': datetime.datetime(2024, 8, 9, 17, 2, 39)}

Update Data in the Table

In [11]:
try:
    cursor = connection.cursor()
    
    # Update an existing user's email
    cursor.execute("UPDATE users SET email = 'alice.smith@example.com' WHERE name = 'Alice Smith'")
    
    # Commit the changes
    connection.commit()
    
    print("Data updated successfully")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()

Data updated successfully

Delete Data from the Table

In [13]:
try:
    cursor = connection.cursor()
    
    # Delete a user
    cursor.execute("DELETE FROM users WHERE name = 'Bob Johnson'")
    
    # Commit the changes
    connection.commit()
    
    print("Data deleted successfully")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()

Data deleted successfully

Drop the Table and Database (Cleanup)

In [15]:
try:
    cursor = connection.cursor()
    
    # Drop the table
    cursor.execute("DROP TABLE IF EXISTS users")
    
    # Drop the database
    cursor.execute("DROP DATABASE IF EXISTS user_management")
    
    print("Table and database dropped successfully")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()

Table and database dropped successfully

Close the Connection

In [17]:
if connection.is_connected():
    connection.close()
    print("MySQL connection closed")

MySQL connection closed

Considerations for using MySQL:

1. Data Integrity: Utilize constraints and indexing to maintain data accuracy and performance.
 
2. Scalability: Consider partitioning and sharding for handling large datasets and high traffic.
 
3. Backup and Recovery: Implement regular backups and a robust recovery strategy to prevent data loss.
 
4. Security: Secure access with strong passwords, encryption, and user privileges.
   
5. Performance Tuning: Optimize queries, use caching, and monitor performance to ensure efficient operations.